.custom-navbar {
  background-color: #323232;
}

.custom-navbar-item {
  transition: box-shadow 0.3s ease-in-out;
}

.custom-navbar-item:hover {
  box-shadow:inset 0px 2px 0px 0px rgb(153, 255, 94);
}

.custom-navbar-link {
  transition: color 0.3s ease-in-out;
}

.custom-navbar-link:hover {
  color: rgb(153, 255, 94);
}
